.clip {
  background: #833ab4;
  clip-path: polygon(
    50% 0,
    100% 0,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    0 100%,
    0% 43%,
    17% 12%
  );

  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  animation: rotation infinite 3s linear;
}

@keyframes rotation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
