span {
  color: #ec4e39;
}

.mask {
  transform: translateY(-30px);
  mask-image: url("../../public/mask.svg");
  background-color: #ec4e39;
  mask-repeat: no-repeat;
  color: black;
}

.hide-cursor {
  cursor: none;
}
